.App {
  text-align: center;
  background-color: sandybrown;
  display: grid;
  grid-template-rows: 2fr 1fr 6fr;
  grid-template-columns: 800px ;
  grid-template-areas: 
  "header"
  "nav"
  "content";
  grid-gap: 10px;
  justify-content: center;
}

.app-main__container {
  grid-area: content;
}

.background {
  background-color: #282c34;
}